# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.so binary
*.apk binary
*.aapt2 binary
*.jar binary
*.zip binary
*.tar.gz binary
*.tar.xz binary
